/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------ */

* {
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.hero {
  width: 100%;
  height: calc(100vh - 200px); /* 150px height of header + 2*25px for of padding */
  background-image: url('../assets/cassette2.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.hero h1 {
  color: #f0f0f0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 5rem;
  text-align: center;
  background-color: rgba(179, 179, 179, 0.562);
  padding: 6rem;
  margin-bottom: 0;
  backdrop-filter: blur(5px);
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.35);
  line-height: 1.5;
}

.container {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #117f02 0%, #117f02 20%, #f0f0f0 70%, #f0f0f0 100%);
  z-index: 1;
}
.logo {
  margin-left: 4rem;
}
.logo img {
  max-width: 150px;
}
nav {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

nav a {
  font-size: 1.2rem;
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}
nav a:hover {
  color: #117f02;
}

footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -5px 24px rgba(0, 0, 0, 0.05);
  /* background: linear-gradient(135deg, #f0f0f0 0%, #f0f0f0 20%, #117f02 70%, #117f02 100%); */
  margin-top: 4rem;
}

section {
  width: 100%;
}
section:nth-child(n + 2) {
  margin-top: 2rem;
}

img.picture-stand {
  max-width: 40vw;
  margin: 1rem 0;
  height: auto;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.3);
}

h1:not(.page-title) {
  margin: 4rem 0;
}
h2 {
  margin: 2rem 0;
}
h3 {
  margin: 1rem 0;
}
p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.3rem;
}
p {
  font-size: 1rem;
}
a {
  color: #200fbd;
}

b,
strong,
h1,
h2,
h3 {
  font-weight: bold;
}
h1,
h2 {
  text-transform: uppercase;
}
i,
em {
  font-style: italic;
}

/* Style specific classes */
.indent {
  margin-left: 2rem;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.italic-underline {
  font-style: italic;
  text-decoration: underline;
}

/* Responsive for tablets under 900px wide */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .container {
    max-width: 70vw;
    padding: 1rem;
  }
}

/* Responsive for phones under 600px wide */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 1rem;
  }

  .hero h1 {
    font-size: 3rem;
    padding: 2rem;
  }

  header {
    flex-direction: column;
    height: auto;
    width: auto;
    background: linear-gradient(
      180deg,
      #117f02 0%,
      #117f02 35%,
      #f0f0f0 80%,
      #f0f0f0 100%
    );
  }
  a.logo {
    margin: auto;
  }
  nav {
    width: auto;
    margin: 2rem;
  }
  footer {
    padding: 1rem;
    width: auto;
  }
}
