RewriteEngine On
RewriteCond %{ENV:HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{THE_REQUEST} \s/+index\.html [NC]
RewriteRule ^index\.html$ / [L,R=301]
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]
DirectoryIndex index.html

# Disables directory listing to prevent browsing of folder contents
Options -Indexes

# Prevent clickjacking / embedding in iframes on other sites
Header set X-Frame-Options "SAMEORIGIN"
Header set Content-Security-Policy "frame-ancestors 'self'"